body {
    font-family: 'Arial', 'Helvetica Neue' Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    
    
}

.main-container {
    text-align: center;
    width: 1400px;
    margin: 20px;
    position: fixed;
    left: 250px;
    
    
    

    
}

.header,
.nav,
.section,
.aside,
.footer{
    background: #ebebeb;
}

.header {
    margin: 20px;

}

.nav {
    margin: 20px;
}

.article {
    color: #ebebeb;
    background: #777;
    margin: 20px;
}

.h1,
.p {
    color: #777;
    background: #ebebeb;
}

.section {
    width: 495px;
    margin: 20px;
}

.aside {
    margin: 20px;
}

.footer {
    margin: 20px;
}